.category-scroll::-webkit-scrollbar {
  height: 2px; /* Chiều cao của thanh cuộn */
}

.category-scroll::-webkit-scrollbar-track {
  background: #ffff; /* Màu nền cho track của thanh cuộn */
  border-radius: 10px; /* Bo góc cho track */
}

.category-scroll::-webkit-scrollbar-thumb {
  background: #ffff; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo góc cho thanh cuộn */
}

.category-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(43, 35, 39, 0.8); /* Màu của thanh cuộn khi hover */
}
